 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 865px;
}

.u-section-1 .u-text-1 {
  font-family: MinecraftBold-nMK1;
  font-weight: 200;
  font-size: 3rem;
  margin: 10px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  text-align: start;
  margin: -44px -2214px 0 10px;
}

.u-section-1 .u-icon-1 {
  width: 38px;
  height: 38px;
  margin: -32px auto 0 -38px;
}

.u-section-1 .u-group-1 {
  width: 222px;
  background-image: none;
  min-height: 193px;
  margin: 58px 329px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 26px 23px;
}

.u-section-1 .u-text-3 {
  font-family: MinecraftBold-nMK1;
  font-size: 3rem;
  text-align: left;
  margin: 0 8px 0 9px;
}

.u-section-1 .u-text-4 {
  font-family: MinecraftBold-nMK1;
  font-size: 1.5rem;
  text-align: left;
  margin: 6px auto 0 14px;
}

.u-section-1 .u-group-2 {
  width: 222px;
  background-image: none;
  min-height: 193px;
  margin: -193px 58px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 24px 30px;
}

.u-section-1 .u-text-5 {
  font-family: MinecraftBold-nMK1;
  font-size: 3rem;
  text-align: left;
  margin: 0 13px 0 14px;
}

.u-section-1 .u-text-6 {
  font-family: MinecraftBold-nMK1;
  font-size: 1.5rem;
  text-align: left;
  margin: 6px 6px 0 auto;
}

.u-section-1 .u-list-1 {
  width: 350px;
  margin: -193px auto 0 -9px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-list-2 {
  width: 350px;
  margin: 151px auto 0 1px;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-group-3 {
  width: 222px;
  background-image: none;
  min-height: 193px;
  height: auto;
  margin: -151px auto 0 47px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 30px;
}

.u-section-1 .u-text-7 {
  font-family: MinecraftBold-nMK1;
  font-size: 3rem;
  margin: 25px auto 0;
}

.u-section-1 .u-text-8 {
  font-family: MinecraftBold-nMK1;
  font-size: 1.5rem;
  margin: 6px 8px 0 14px;
}

.u-section-1 .u-group-4 {
  width: 222px;
  background-image: none;
  min-height: 193px;
  margin: -193px auto 0 318px;
}

.u-section-1 .u-container-layout-4 {
  padding: 28px 30px;
}

.u-section-1 .u-text-9 {
  font-family: MinecraftBold-nMK1;
  font-size: 3rem;
  text-align: left;
  margin: 0 auto 0 36px;
}

.u-section-1 .u-text-10 {
  font-family: MinecraftBold-nMK1;
  font-size: 1.5rem;
  text-align: left;
  margin: 9px auto 0 9px;
}

.u-section-1 .u-group-5 {
  width: 222px;
  min-height: 454px;
  height: auto;
  margin: 6px 328px 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 8px;
}

.u-section-1 .u-text-11 {
  font-family: MinecraftBold-nMK1;
  font-size: 1.5rem;
  text-align: left;
  margin: 19px auto 0 0;
}

.u-section-1 .u-text-12 {
  font-family: MinecraftBold-nMK1;
  text-align: left;
  margin: 0 46px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  margin: 13px auto 0;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-group-6 {
  width: 222px;
  min-height: 448px;
  margin: -450px 57px 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 7px;
}

.u-section-1 .u-text-13 {
  font-family: MinecraftBold-nMK1;
  font-size: 1.5rem;
  text-align: left;
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-14 {
  font-family: MinecraftBold-nMK1;
  text-align: left;
  margin: 0 48px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  margin: 18px auto 0;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-group-7 {
  width: 222px;
  min-height: 448px;
  height: auto;
  margin: -448px auto 0 47px;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-1 .u-text-15 {
  font-family: MinecraftBold-nMK1;
  font-size: 1.5rem;
  margin: 25px auto 0 6px;
}

.u-section-1 .u-text-16 {
  font-family: MinecraftBold-nMK1;
  margin: 4px auto 0 10px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  margin: 87px auto 0;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-group-8 {
  width: 222px;
  min-height: 448px;
  margin: -448px auto 60px 318px;
}

.u-section-1 .u-container-layout-8 {
  padding: 24px 8px;
}

.u-section-1 .u-text-17 {
  font-family: MinecraftBold-nMK1;
  font-size: 1.5rem;
  text-align: left;
  margin: 10px auto 0 0;
}

.u-section-1 .u-text-18 {
  font-family: MinecraftBold-nMK1;
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  margin: 91px auto 0;
  padding: 8px 28px 8px 27px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-group-6 {
    margin-top: 19px;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-group-8 {
    margin-right: 326px;
    margin-bottom: 0;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1119px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 318px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-5 {
    margin-right: 318px;
  }

  .u-section-1 .u-group-7 {
    margin-top: 20px;
    margin-right: 57px;
    margin-left: auto;
  }

  .u-section-1 .u-group-8 {
    margin-top: -905px;
    margin-right: 318px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 919px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 118px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 20px;
    margin-right: 118px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-list-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    margin-top: 20px;
    margin-left: 47px;
  }

  .u-section-1 .u-group-5 {
    margin-right: 118px;
  }

  .u-section-1 .u-group-6 {
    margin-top: 488px;
    margin-right: 118px;
  }

  .u-section-1 .u-group-7 {
    margin-right: 118px;
  }

  .u-section-1 .u-group-8 {
    margin-top: -1374px;
    margin-right: 118px;
  }
}@font-face {
  font-family: 'MinecraftBold-nMK1';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MinecraftBold-nMK1.otf);
}