 .u-section-1 {
  background-image: url("images/2.png");
  background-position: 49.84% 80.1%;
  background-size: 130%;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-form-1 {
  height: 267px;
  width: 570px;
  margin: 66px auto 60px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-family: MinecraftBold-nMK1;
  font-size: 1.5rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-family: MinecraftBold-nMK1;
  font-size: 1.5rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}@font-face {
  font-family: 'MinecraftBold-nMK1';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MinecraftBold-nMK1.otf);
}